body{
	background-color: #eee;
}

.header{
background-color: rgb(166, 194, 219);
padding: 20px;
}

.wrap{
	background-color: rgb(255, 254, 172);
	width: 100%;
max-width: 1200px;
margin: 0 auto;
}



.box-lt {
	width: 70%;
	background-color: rgb(243, 193, 201);
	padding: 20px;
	float: left;
	height: 500px;
}

.box-rt {
	width: 28%;
	background-color: rgb(210, 197, 255);
	padding: 20px;
	float: right;
	height: 500px;
}

.footer {
	background-color: rgb(255, 157, 157);
	padding: 20px;
}

.footer-lt {
	float: left;
	width: 50%;
	padding: 100px;
	border: 10px solid red;
}
.footer-rt {
	float: right;
	width: 50%;
	padding: 100px;
	border: 10px solid red;
}