/* 공통사항 */
body {
	font-size: 14px;
}
.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 50px 15px;

}
.mn-tit{
	background-color: #f7f7f7;
	color: #313131;
	letter-spacing: 6px;
	font-size: 32px;
	text-align: center;
}
.sub-tit {
	text-align: center;
	color: #e97474;
	font-style: italic;
	font-size: 14px;
	padding: 20px 0;
}

.mn-tit2{
	color: #e97474;
	letter-spacing: 6px;
	font-size: 32px;
	text-align: center;
}
.sub-tit2 {
	text-align: center;
	color: #d4b6b6;
	font-style: italic;
	font-size: 14px;
	padding: 20px 0;
}

/* tops */
.tops {
  background-color: #f7f7f7; color: #111; 
		position: fixed; z-index:9999; width: 100%; top: 0; left: 0;
}

.top-menu {display: block;}
.logo-img {height: 40px;}
.navi-wrap {display: flex;}


.banner-img {width: 100%;}

.search {
	float: right;
	padding: 12px 20px;
	cursor: pointer;
}
.search:hover {
	background-color: #ddd;
	color: #d4b6b6;
}

.navi:hover {
	color: #d4b6b6;
}

/* bans */

.main-bans {position: relative; overflow: hidden}
	.main-ban {position: relative; width: 300%; display: flex;}
	.main-ban > li {position: relative; flex: 100% 1 1;}
	.main-bans .pagers {position: absolute; bottom: 30px; display: flex; justify-content: center; left:0; right: 0; margin: auto;}
	.main-bans .pager {padding: 0.25rem; cursor: pointer; color: #222; font-size: 1.25rem; transition: color 1s;}
	.main-bans .pager.active {color: #d4b6b6;}

	

.bans {
	position: relative;
	text-align: center;
	color: #f8f8f8;
}
.bans > h2 {
position: absolute;
bottom: 10%; width: 100%;
}
.bans > h4 {
	position: absolute;
	bottom: 7%; width: 100%;
}
/* bands */
.cont {
	text-align: justify;
	line-height: 1.8;
}
.member {
	margin-top: 50px;
}
.member > div {
	width:  33.3333%;
	float: left;
}
.member .tit {
	text-align: center;
	padding: 16px 0;
}
.tit-sub {text-align: center; color: #999;
	font-size: 12px;}

.member .photo {
	padding: 18%;
}
.member .photo img {
	border-radius: 6px;
}

/* tours */
.tours {
	background-color: #f8f8f8;
}
.tours .mn-tit {
	color: #f8f8f8;
}
.dates {
	color: #f8f8f8;
	background-color: #3f3f3f;
	border: 1px #ccc;
	margin-top: 30px;
}
.dates > li {
	padding: 12px 16px;
}
/*
:first-child => 첫번째 자식
:last-child => 마지막 자식
:nth-child(n) =>n번째 자식 
 */
.dates > li:not(:last-child) {
	border-bottom: 1px solid #6e6e75;
}
.dates span {
	background-color: #d4b6b6; color: #f8f8f8;
	padding: 4px 8px;
	margin-left: 30px;
}
.dates .badge {
	float: right;
	background-color: #d4b6b6;
	color: #f8f8f8;
	padding: 2px 10px;
	border-radius: 50%;
}
/* 
.citi div => .city 안에 있는 자손포함 모든 div들
.city > div => .city 바로 아래있는(자식만) div들
div.city => 모든 div들 중에 city라는 클래스를 가지고 있는 div
*/
.cities {
	margin-top: 30px;
}
 .city {
	float: left;
	width: 32%;
}
.city:nth-child(2) {
	margin: 0 2%;
}

.city-img:hover {
	opacity: 0.7;
}
 		.city-datas {
	padding: 16px;
	background-color: #f8f8f8;
}
 		.city-name {
	font-weight: bold;
	color: #000;
	margin-bottom: 16px;
}
		.city-date {
	color: #555;
	margin-bottom: 16px;
}
	.city-cont {
	margin-bottom: 16px;
}
	 .bt-buy {
		background-color:  #3f3f3f;
		color: #f8f8f8;
		padding: 8px 12px;
		cursor: pointer;
	}
	.bt-buy:hover {
		background-color: #d4b6b6;
		color: #000;
	}

	/* 컨텍 */
	.contact-form  {
		margin: 20px 0;
	}
	.contact-form > ul {
		width: 50%;
		float: left;
	}
	.contact-info {
		font-size: 18px;
	}
	.contact-info >li {
		padding: 4px 0;
	}
	.contact-info > li > i {
		width: 30px;
	}
	.contact-mail > form > div {
		margin: 8px 0;
	}
	.contact-mail .name,
	.contact-mail .email {
		float: left; width: 49%;
	}
	.contact-mail .name {
		margin-right: 2%;
	}
	.contact-mail .bt-send {
		padding: 6px 12px;
		background-color: #111;
		color: #f8f8f8;
	}
	
	/* video */
	.video {width: 100%; height: auto;}
/* body {background: url(../img/p1.png) no-repeat center center; background-size: cover;} */

.video-wrapper {position: relative; width: 100%; height: 100%;}
.videos{ position: relative; width: 100%; height: 100%; }

	/* footer */
	.footers .brands {
		font-size: 24px;
	}
	.footers .copyright {
		font-size: 24px;
	}

	/* 반응형 처리 */
	
	@media screen and (max-width: 640px) {
		.search .fa-bars {
			display: inline-block;}
			.search .fa-search {display: none;}
			.search:hover {
				background-color: #ddd;
				color: #e97474;}
				.navi-bt {display: none;}
				.member > div {
					width:  100%;}
					.city {
						width: 96%;
					  margin: 2%;}
					.city:nth-child(2) {
						margin: 2%;}
						.contact-form > ul {
							width: 90%;
							margin: 2%;
						}
	}